body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-money-drawing-illustration_23-2150927147.jpg?t=st=1725642294~exp=1725645894~hmac=de1038ec3234c65043d52d7b04c006af7130388730379f628e1209a9e1890066&w=740");
}

.converter-container {
    background-color: rgb(117, 182, 117);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(117, 182, 117);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

select, input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
#swap-button{
    margin-top: 20px;
}
